@import url('https://fonts.googleapis.com/css2?family=Lekton&family=Montserrat:ital,wght@0,100;0,400;1,400;1,900&display=swap');
* {
  font-family: 'Lekton', sans-serif;
  font-weight: 700;
}
body {
  margin: 0;
  --dark-brown: rgb(73, 63, 57);
  --border: 1px solid var(--dark-brown);
  --border-bottom: 3px solid var(--dark-brown);
  --med-brown: rgb(126, 97, 79);
  display: flex;
  justify-content: center;

}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 55vw;
  margin: 0;
  background-color: rgb(237, 228, 216);
}
.page-container {
  width: 52vw;
  height: 95vh;
  display: flex;
  border: 1px solid var(--dark-brown);
}
.sectionContainer {
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  width: 91%;
  margin: 0 1rem;
}
/* ACTIONS */
#actions {
  width: 35vw;
  display: flex;
  flex-direction: column;
}
.section-left {
  width: 6.5rem;
  font-size: 1.2rem;
  color: rgb(122, 94, 94)
}
.section-right {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  border-left: var(--border);
  padding-left: 2rem;
  margin-bottom: 2rem;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
/* PERSONAL */
#personal {
  width: 20vw;
  height: 100%;
  border-right: var(--border);
}
#personal > .sectionContainer {
  display: flex;
  flex-direction: column;
  min-height: 20%;
}
.container {
  min-height: 20%;
  display: flex;
  flex-direction: column;
  border-bottom: var(--border);
  margin: 1rem;
  gap: 10px;
  overflow: wrap;
}
.display-info {
  height: 100%;
}
#personal-div {
  height: 100%;
}
#personal-heading {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 0 1rem;
  border-bottom: var(--border);
  align-items: center;
}
.personal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 5px;
  margin: 1rem 0;
}
#personal-heading > .modal {
  display: flex;
  position: absolute;
  top: 100%;
  left: 80%;
}
#skills {
  display: flex;
  flex-direction: column;
  border: none;
} 
#skills-heading {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid black;
}
.skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#one-input-modal {
  min-height: 9rem;
}
#one-input {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin: 1rem;
}
#skill-input {
  position: absolute;
  left: 80%;
  top: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.remove-skill {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pic-input {
  position: absolute;
  left: 39.999%;
  top: 10.75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.personal-edit {
  height: 2rem;
  background-color: white;
  border: 1px solid black;
  width: 3rem;
}
.personal-display {
  min-height: 1rem;
  font-size: 12px;
}
#name > .personal-display {
  margin: 0 1rem;
}
/* FORM */
form {
  height: 100%;
  width: 100%;
}
button {
  height: 5vh;
  width: 6vw;
  background-color: white;
  border: var(--border);
  color: var(--dark-brown);
  font-size: 1rem;
}
button:hover {
  background-color: var(--dark-brown);
  color: white;
}
/* name */
#name > .display-info {
  width: 90%;
  height: 5%;
}
#name {
  height: 10%;
  display: flex;
  justify-content: space-between;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--med-brown);
}
.heading {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border-bottom);  
  border-top: var(--border);
  font-size: 1.2rem;
}
/* EXPERIENCE */
.form-display {
  display: flex;
  flex-direction: column;
}
.modal {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-brown);
  width: 15rem;
  z-index: 10;
  border: var(--border);
  color: rgb(252, 243, 220)
}
#experience > .heading > .modal {
  position: absolute;
  top: 100%;
  left: 80%;
  align-items: center;
  justify-content: center;
  min-height: 28rem;
}
.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 10px;
}
.experience > button {
  background-color: white;
  border: var(--border)
}
.experience-display, .education-display {
  min-height: 25vh;
}
.new-experience, .new-education {
  display: flex;
  min-height: 20vh;
  gap: 2rem;
  padding-left: 2rem;
  margin-top: 1.5rem;
}
.section-edit {
  background-color: white;
  border: var(--border);
}
/* EDUCATION */ 
#education > .heading > .modal {
  position: absolute;
  top: 100%;
  left: 80%;
  min-height: 21.6rem;
}
/* INPUT */ 
input {
  width: 12rem;
  height: 2rem;
  border: var(--border);
}
input:focus {
  outline: none;
}
textarea {
  width: 12rem;
  height: 4rem;
  border: var(--border);
}
textarea:focus {
  outline: none;
}
.buttons > button {
  background-color: white;
  height: 2.2rem;
  border: var(--border);
  font-size: 1rem;
}
p {
  margin: 0;
  color: var(--dark-brown);
}
/* DELETE */
.new-experience > *, .new-education > *{
  pointer-events: none;
}
/* PHOTO */
#picture-container {
  height: 16rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
#picture {
  height: 30vh;
  width: 13.35vw;
  position: absolute;
  border: 1px solid var(--dark-brown);
  top: 3.5%;
  left: 26.6%;
  z-index: 10;
  background-image: url(./img/girl-photo.jpg);
  background-size: cover;
  background-position: center;
}
#picture-frame {
  height: 11rem;
  width: 15rem;
  border: 1px solid var(--dark-brown);
}
#picture:hover {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.47);
}
#picture:hover::after {
  content: 'ADD PICTURE';
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 50%;
  font-size: 1.8rem;
}

