.App {
  display: flex;
}
#personal {
  width: 30vw;
  height: 100vh;
}
#actions {
  width: 70vw;
  height: 100vh;
}
.sectionContainer {
  display: flex;
  height: 20vw;
  width: 100%;
}
.pop-up {
  height: 25vh;
  width: 20vw;
}
.display-info {
  width: 20vw;
  height: 100%;
}
form {
  height: 100%;
  width: 100%;
}
button {
  height: 5vh;
  width: 6vw;
}